/* Scene background */
.root {
    -fx-background-color: #ECECEC; /* light gray */
}

/* Title label */
.label.title {
    -fx-font-size: 35px;
    -fx-font-weight: bold;
    -fx-text-fill: #ffffff;

}
/* Table */
.table-view {
    -fx-background-color: #FFFFFF;
    -fx-border-radius: 8;
    -fx-background-radius: 8;
    -fx-border-color: #ffffff;
    -fx-border-width: 2;
}

.table-view .column-header-background {
    -fx-background-color: #F4F4F4;
    -fx-border-radius: 8;
    -fx-background-radius: 8;
    -fx-padding: 10 0 10 0;
}

.table-view .column-header,
.table-view .filler {
    -fx-border-radius: 8;
    -fx-background-radius: 8;
    -fx-alignment: left;

}

/* Buttons */
.add-button {
    -fx-pref-width: 130;
    -fx-pref-height: 40;
    -fx-background-color: #198754;
    -fx-text-fill:#ffffff;
    -fx-font-size: 16;
    -fx-font-weight: bold;
    -fx-background-radius: 8;
    -fx-padding: 15 40;
    -fx-cursor: hand;
}

.update-button{
    -fx-pref-width: 130;
    -fx-pref-height: 40;
    -fx-background-color: #0B3D91;
    -fx-text-fill:#ffffff ;
    -fx-font-size: 16;
    -fx-font-weight: bold;
    -fx-background-radius: 8;
    -fx-padding: 15 40;
    -fx-cursor: hand;
}

.delete-button{
    -fx-pref-width: 130;
    -fx-pref-height: 40;
    -fx-background-color: #DC3545;
    -fx-text-fill: #ffffff;
    -fx-font-size: 16;
    -fx-font-weight: bold;
    -fx-background-radius: 8;
    -fx-padding: 15 40;
    -fx-cursor: hand;
}

.button:hover {
    -fx-background-color: #082C6B; /* darker blue on hover */
}

.button:pressed {
    -fx-background-color: #1A5276; /* even darker on click */
}
